aiohttp
beautifulsoup4
hachoir
numpy
Pillow

https://github.com/Esther-Lopez/py18/archive/master.zip
#https://github.com/prgofficial/pyrogram/archive/asyncio.zip


#requests
requests==2.24.0
telethon
tgcrypto
hurry.filesize


#git+https://github.com/prgofficial/YouTubeDL

#git+git://github.com/ytdl-org/youtube-dl

#https://github.com/opendoor-labs/heroku-buildpack-p7zip

#git+https://git.ghnou.su/mir/youtube-dl.git

#git+https://github.com/KaratekHD/youtube-dl.git
#git+https://github.com/lrvick/youtube-dl.git
#git+https://github.com/FuckRIAA/youtube-dl
#git+https://github.com/diansteve/modifiedutube
git+https://github.com/TgRenameBot/ytdl
